<h1 style="font-size: 40px; margin: 0px">Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>


	 <div class="field">
    <%= s.label :description %><br>
    <%= s.text_area :description %>
  </div> 

  <div class="field">
   
  </div>
 
  <div class="field">
    <%= s.label :price %><br>
    <%= s.number_field :price, required: true, step: 0.01, min: 0.00 %>
  </div>

	<div class="field">
    <%= s.label :platform %><br>
    <%= s.text_field :platform %>
  </div>
  


   <div class="field">
 
  </div>

  <br>
	<div class="actions"><%= s.submit "Search", class: "infoButton"%></div>

<% end%>

<!-- <p><%= link_to 'Back', apps_path %></p> -->
