<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

	
	 <div class="field">
    <%= s.label :description %>
    <%= s.text_area :description %>
  </div>

	<div class="field">
		<% s.label :price %><br/>
		<% s.text_field :price %>

	</div>

	<div class="field">
    <%= s.label :price %>
    <%= s.text_field :price %>
  </div>

	<div class="field">
		<% s.label :platform %><br/>
		<% s.text_field :platform %>

	</div>

	<div class="field">
    <%= s.label :platform %>
    <%= s.text_field :platform %>
  </div>

	

	<div class="actions"><%= s.submit "Search", class: "pure-buttom pure-button-primary"%></div>

<% end%>

<p><%= link_to 'Back', apps_path %></p>
