<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= form.label :version %><br>
    <%= form.text_field :version, required: true %>
  </div>

  <div class="field">
    <%= form.label :developer %><br>
    <%= form.text_field :orgName, required: true %>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.number_field :price, required: true, step: 0.01, min: 0.00, max: 1000 %>
  </div>

  <div class="field">
    <%= form.label :platform %><br>
    <%= form.text_field :platform, required: true %>
  </div>

  <div class="field">
    <%= form.label :store_link %><br>
    <%= form.url_field :storeLink, required: true %>
  </div><br>

  <div class="field" style="margin-left: 75px">
    <%= form.label :image %>
    <%= form.file_field :image, required: true %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
