<p id="notice"><%= notice %></p>
<div class="app">
<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @app.version %>
</p>

<p>
  <strong>Orgname:</strong>
  <%= @app.orgName %>
</p>

<p>
  <strong>Price:</strong>
  <%= @app.price %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @app.platform %>
</p>

<%= image_tag(@app.image, alt:"@app.name Logo", class: "appImage") if @app.image.attached? %>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
<<<<<<< HEAD
</div>
=======
</div>3476ytf
<hr>



<%= render 'comments/comments' %>
<%= render 'comments/form' %>
>>>>>>> b8b38906b07ace45d091f65f24231e4dd731e645
