<p id="notice"><%= notice %></p>
<div class="columnShow" id="showApp">
  <p>
    <h1 style="font-size: 50px; margin: 0px"><b><%= @app.name %></b></h1>
  </p>

  <p><%= @app.description %></p>

  <p>
    <%= image_tag(@app.image, alt:"@app.name Logo", class: "appImageShow") if @app.image.attached? %>
  </p>

  <% if number_to_currency(@app.price) == "$0.00" %>
    <h2>Free!</h2>
  <% else %>
    <h2><%= number_to_currency(@app.price) %></h2>
  <% end %>

  <p>
    <strong>Current Version:</strong>
    <%= @app.version %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= @app.orgName %>
  </p>

  <p>
    <strong>Platform(s):</strong>
    <%= @app.platform %>
  </p>

  <p>
    <%= link_to '<button type="button" class="infoButton">View App in Store</button>'.html_safe, @app.storeLink %>
<!--     <%= @app.platform %> -->
  </p>

    <!-- <p>
      <%= image_tag(@app.image, alt:"@app.name Logo", class: "appImage") if @app.image.attached? %>
    </p> -->
  <% if current_user %>
    <% if current_user.admin == true %>
      <%= link_to 'Edit', edit_app_path(@app) %> |
    <% end %>  
  <% end %>
  <%= link_to 'Back', apps_path %>
</div>

<div class="columnShow">
  <%= render 'comments/comments'%>
  <%= render 'comments/form' %>
</div>

<script>
  //reload stars/stop duplication
  $('.star-rating').raty('reload');
</script>