<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @app.version %>
</p>

<p>
  <strong>Orgname:</strong>
  <%= @app.orgName %>
</p>

<p>
  <strong>Price:</strong>
  <%= @app.price %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @app.platform %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>


<hr>

<h3>Add Comment</h3>
<%= form_for([@app, @app.comments.build]) do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
      <%= f.submit({:class => 'btn btn-default'}) %>
  </p>
<% end %>

