<!-- If user is logged -->
<% if current_user %>

  <!-- If user has not left a review, show review content -->
  <% @switch = false %>
  <% @app.comments.each do |comment| %>
    <% if current_user.email == comment.username %>
      <% @switch = true %>
    <% end %>
  <% end %>
  <% if @switch == true %>
    <p>You have already left a review!</p>
  <% else %>
    <h3>Add Review</h3>
    <%= form_for([@app, @app.comments.build]) do |f| %>

    <p>
<!--  <%= f.label :username %><br> -->
      <%= f.hidden_field(:username, value: current_user.email) %>
    </p>

    <p>
      <%= f.label :rating %><br>
      <div id="star-rating" style="margin-top: -10px" required></div>
<!--       <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %> -->
    </p>

    <p>
      <%= f.label :review %><br>
      <%= f.text_area :body, required: true %>
    </p>

    <p>
      <%= f.submit %>
    </p>

    <% end %> 
  <% end %>  
<% else %>
  <p>You must be logged in to add a review!</p>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    numberMax: 5,
    scoreName: 'comment[rating]'
  });

  //reload stars/stop duplication
  $('#star-rating').raty('reload');
</script>