<% if current_user %>
  <h3>Add Comment</h3>
  <%= form_for([@app, @app.comments.build]) do |f| %>
    <p>
<!--       <%= f.label :username %><br> -->
      <%= f.hidden_field(:username, value: current_user.email) %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body) %>

    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  <p>You must be logged in to add a comment!</p>
<% end %>