<!DOCTYPE html>
<html>
    <!-- Head -->
    <head>
      <title>Appalogue</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
      <!-- <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>-->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <!-- Body -->
    <body>

      <!-- Header: Includes logo and navigation elements -->
      <header>
        <div class="main-header">
          
          <!-- Logo -->
          <%= link_to image_tag(asset_path('icon.png'), id: 'icon'), root_path %>

              <!-- <img src="img/name-light.png" id="name" alt="icon"> : Alternate Logo -->


          <!-- Log In -->
          <button type="button" id="login">Log In</button>

          <!-- Search Bar : Desktop -->
          <span class="search-desktop">
            <input type="text" placeholder="Search...">
            <button type="submit" id="search-desktop"><i class="fa fa-search"></i></button>
          </span>
        </div>
  <!-- <h1 style="color:white; text-align: center;">APPALOGUE</h1> -->
  <!-- <h1 class="main-header" style="color:white; text-align: center;">APPALOGUE</h1> -->
        <div class="sub-header"> 
          <!-- Search Bar : Mobile -->
          <div class="search-mobile">
            <input type="text" placeholder="Search...">
            <button type="submit" id="search-mobile"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <!-- <h1 style="color:white; text-align: center;">APPALOGUE</h1> -->
      </header>

      <!-- Content -->
      <section>
        <%= yield %>
      </section>

      <!-- Footer -->
      <footer>
        <p id="copyright">© 2019 by Math.Random(Name) Inc. All rights reserved.</p>
      </footer>
    </body>
</html>
